@require '~components/shared/variables'

*
*::before, 
*::after 
	box-sizing border-box

body
	font-family 'Open Sans', sans-serif
	font-size 24px
	color $color-text
	padding-top 50px

button
	border none
	padding 0
	outline none
	background transparent