@require '~components/shared/variables'

.fadeHidden 
	transition-property opacity
	transition-duration $trans-time
	opacity 0

.fadeShown 
	transition-property opacity
	transition-duration $trans-time
	opacity 1

.hidden 
	display none

.vCenter
.bothCenter
	display flex
	align-items center	
	
.hCenter
.bothCenter
	display flex
	justify-content center
	
.fullWidth
.fullBoth
	width 100%
	
.fullHeight
.fullBoth
	height 100%
	
.cursorPointer
	cursor pointer
	
.displayBlock
	display block
	
.text-center
	text-align center
	
.flexFill
	flex-grow 1