@require '~components/shared/variables'

.task	
	&__dragHandler
		cursor move
		opacity 0
		transition-property opacity
		transition-duration $trans-time
		
	&__body:hover &__dragHandler
		opacity .5
		
		&:hover
			opacity 1