@require '~components/shared/variables'

.todoList
	width 760px
	margin-left auto
	margin-right auto
	
	&__newTaskBtn
		margin-top 20px
		padding 5px 20px
		border-width 1px 
		border-style solid
		border-radius 5px
		opacity .65
		transition-property opacity, box-shadow
		transition-duration $trans-time
		
		&:hover
			opacity 1
			box-shadow 0 0 10px rgba(0,0,0,.15)