@require '~components/shared/variables'

.task
	$block-width = 40px
	
	position relative
	
	&__body
		display: flex;
		align-items: center;
		height 50px
		margin-bottom 10px
		opacity .65
		transition-property opacity
		transition-duration $trans-time
		
		&:hover
			opacity 1
			
		&--dragging
			&
			&:hover
				opacity .1
		
	&__block
		width $block-width
		flex-shrink 0
			
	&__content
		flex-grow 1
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		padding 8px 16px
		margin-left 5px
		border-bottom 1px solid rgba(0,0,0,.2)
		transition-property border-bottom-color
		transition-duration $trans-time
		cursor text
		
		&--done
			text-decoration line-through
			
	&__dropLayer
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		display flex
		
	&__drop
		background-color rgba(#27ae60, .1)