@require '~components/shared/variables'

.task
	&__expander
		cursor pointer
		opacity .5
		transition-property opacity
		transition-duration $trans-time
		
		&:hover
			opacity 1
		
		&__arrow
			transform rotate(-90deg)
			
			&--expanded
				transform none